<main>
  <section class="details p-15">
    <div class="d-flex">
      <div class="details-container">
        <div class="cancel text d-flex">
          <p>Booking Cancelled by :</p>
          &nbsp;
          <p>Customer</p>
        </div>
        <div class="reason text d-flex">
          <p>Cancellation Reason :</p>
          &nbsp;
          <p>{{booking.cancelReason}}</p>
        </div>
        <div class="time text d-flex">
          <p>Cancellation Time :</p>
          &nbsp;
          <p>2 hrs After Booking</p>
        </div>
      </div>
      <div class="img"></div>
    </div>
  </section>
</main>
