ion-content {
  --padding-top: 10px;
  section:nth-child(1) {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
    h1 {
      color: var(--primary, #181f29);
      text-align: center;
      font-family: Lato;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
    p {
      color: #666;
      text-align: center;
      font-family: Lato;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
    img {
      width: 272px;
    }
  }
  section:nth-child(2) {
    form {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 20px;
      .input {
        display: flex;
        padding-inline-start: 15px;
        align-items: center;
        border-radius: 8px;
        border: 1px solid #bebebe;
        background: #fff;
        ion-select {
          --highlight-color-focused: transparent;
          --highlight-color-invalid: transparent;
          --highlight-color-valid: transparent;
        }
        ion-icon {
          color: #001e42;
          font-size: 20px;
        }
        input {
          padding: 10px 15px;
          height: 40px;
          width: 100%;
          border-radius: 8px;
          border: none;
          &:focus,
          &:active {
            outline: none;
          }
        }
      }
    }
  }
}
