<ion-content>
  <section>
    <h1>Welcome, New Agent!</h1>
    <p>Please fill the details for further process</p>
    <img src="assets/images/auth/signup/services.svg" />
  </section>
  <section>
    <p class="divider-text">Type Of Job You Want</p>
    <ng-container *ngIf="loading | async">
      <div
        class="service shimmer-effect"
        *ngFor="let item of fakeServices"
      ></div>
    </ng-container>
    <ion-accordion-group *ngIf="!(loading | async)">
      <ion-accordion lines="none" *ngFor="let area of areaWiseServiceCatalogue | async" [value]="area.id">
        <ion-item class="bordered-ion-item" lines="none" slot="header">
          <ion-label>{{area.name ? area?.name : area.geoProofingLocality | titlecase}}</ion-label>
          <!-- <ion-checkbox [checked]="area.active" (ionChange)="selectArea($event,area)" color="dark" (click)="handleCheckboxClick($event)"></ion-checkbox> -->
        </ion-item>
        <div class="ion-padding categories" slot="content">
        <ion-accordion-group>
          <ion-label *ngIf="area.categories.length == 0" class="nothing">Nothing under this area</ion-label>
          <ion-accordion lines="none" *ngFor="let category of area?.categories" [value]="category.id">
            <ion-item class="bordered-ion-item" lines="none" slot="header">
              <ion-label>{{category.name | titlecase}}</ion-label>
            </ion-item>
            <div class="ion-padding categories" slot="content">
              <ion-label *ngIf="category.subCategories.length == 0" class="nothing">Nothing under this category</ion-label>
              <ion-item *ngFor="let subCategory of category.subCategories" class="bordered-ion-item" lines="none">
                <ion-label>{{subCategory.name}}</ion-label>
                <ion-checkbox [checked]="subCategory.checked" (ionChange)="selectCategory($event,category,subCategory,area)"
                  color="dark"></ion-checkbox>
              </ion-item>
            </div>
          </ion-accordion>
        </ion-accordion-group>
        </div>
      </ion-accordion>
    </ion-accordion-group>
    <!-- <p class="divider-text">Preferred Areas</p>
    <ion-item
      class="bordered-ion-item"
      *ngFor="let area of areas | async"
      lines="none"
    >
      <ion-label>{{ area.name ? area?.name : area.geoProofingLocality | titlecase }}</ion-label>
      <ion-checkbox
        (ionChange)="selectArea($event, area)"
        color="dark"
      ></ion-checkbox>
    </ion-item> -->
    <ion-button expand="block" color="dark" (click)="submit()">
      Next
    </ion-button>
  </section>
</ion-content>
