ion-content {
  --padding-top: 40px;
  section:nth-child(1) {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
    h1 {
      color: var(--primary, #181f29);
      text-align: center;
      font-family: Lato;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
    p {
      color: #666;
      text-align: center;
      font-family: Lato;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
    img {
      width: 272px;
    }
  }
  section:nth-child(2) {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    ion-accordion-group {
      display: flex;
      flex-direction: column;
      gap: 10px;
      ion-accordion.accordion-expanding,
      ion-accordion.accordion-expanded {
        background: #f6f6f6;
        border-radius: 7px 7px 15px 15px;
        box-shadow: inset 0px 0px 10px #ccc;
      }
    }
    .divider-text {
      color: var(--primary, #181f29);
      font-family: Lato;
      font-size: 17px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%;
      margin: 0;
    }
    .categories {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    .service {
      height: 56px;
      width: 100%;
      border-radius: 8px;
      border: 1px solid #bebebe;
    }
    ion-item {
      ion-label {
        --color: #666666;
      }
      ion-checkbox {
        --size: 22px;
        margin: 0;
      }
      &.bordered-ion-item::part(native) {
        display: flex;
        padding-inline-start: 15px;
        align-items: center;
        border-radius: 8px;
        border: 1px solid #bebebe;
        background: #fff;
        span {
          color: #666;
          font-family: Lato;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          margin-right: 10px;
        }
      }
    }
  }
}
