<!-- <ion-footer [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <div class="app-footer">
        <div routerLink="/main/home">
          <img src="assets/icon/Footer/home.svg" alt="">
          <p>Home</p>
        </div>
        <div routerLink="/main/jobs-dashboard">
          <img src="assets/icon/Footer/history.svg" alt="">
          <p>History</p>
        </div>
        <div routerLink="/main/money">
          <img src="assets/icon/Footer/money.png" alt="">
          <p>Money</p>
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-footer> -->
