<main class="job-accepted-container" *ngIf="booking">
  <section class="location">
    <div class="p-15">
      <div>
        <p class="head">Job Location</p>
      </div>
      <div class="d-flex" [style.margin-top.px]="8">
        <p><img src="/assets/icon/map.svg" alt="" /></p>
        <p class="address">{{booking.address?.addressLine1}}</p>
      </div>
    </div>
  </section>
  <section class="job-accepted p-15">
    <div class="d-flex">
      <p><img src="/assets/icon/exclamatory-warning.svg" alt="" /></p>
      <p class="text">Start the job only after reaching the location</p>
    </div>
  </section>

  <section class="slider p-15">
    <div class="container">
      <div class="track d-flex">
        <ion-card id="card">
          <p><img src="/assets/icon/slider-button.svg" alt="" /></p>
        </ion-card>
        <p class="text-slider">Slide To Start Job</p>
      </div>
    </div>
  </section>
</main>
