.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-end {
  justify-content: end;
}

.d-flex {
  display: flex;
}

.p-inline-start-15 {
  padding-left: 15px;
  padding-right: 15px;
}

.m-0 {
  margin: 0;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mt-4 {
  margin-top: 1rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.p-15 {
  padding: 15px;
}

.w-82 {
  width: 82%;
}
